.Buttons {
  padding: 40px 0 20px 0;
  display: flex;
  justify-content: center;
}
.Button {
  -webkit-appearance: none;
  background: #0000;
  border-radius: 0;
  border: 2px solid #2b2d42;
  box-sizing: border-box;
  color: #2b2d42;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  height: 40px;
  margin: 0 10px 0 10px;
  outline: 0;
  padding: 0.85em 1em;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.25s ease-out;
  width: 60px;
}
.Button:hover {
  background: #2b2d42;
  color: #ffffff;
}
.Timer {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0;
  transition: all 0.25s ease-out;
}
.TimerActive {
  font-size: 3em;
  background: linear-gradient(to right, #cc0625, #fac319);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.AlertButton {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: bdx;
  animation-timing-function: linear;
  border: 2px solid #2b2d42;
  display: flex;
  outline: 0;
  padding: 16px 48px;
  margin: 40px auto 0 auto;
}
.AlertButtonIcon {
  fill: #2b2d42;
}

@keyframes bdx {
  0% {
    background-color: #cc0625;
  }
  50% {
    background-color: #fac319;
  }
  100% {
    background-color: #cc0625;
  }
}
